/* most low level resulation like galaxy fold */

@media (min-widht: 279px) and (max-widht: 319px) {}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
    /* *******************************************
*****************global css start*******************
 */
    body {
        box-sizing: border-box;
    }
    .container {
        width: 90%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .row {
        width: 100%;
        float: left;
    }
    .col-6 {
        width: 100%;
        float: left;
    }
    .col-4 {
        width: 100%;
        float: left;
    }
    .col-12 {
        width: 100%;
        float: left;
    }
    .logo {
        width: 100%;
        text-align: center;
        display: block;
    }
    .nav {
        text-align: center;
        padding: 5px 0;
    }
    .nav li a {
        margin: 0px 0px 0px 10px;
        font-size: 12px;
    }
    .col-12 h1 {
        font-size: 27px;
        line-height: 37px;
        text-align: center;
    }
    .col-12 span {
        font-size: 24px;
        line-height: 34px;
    }
    .paragraph {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .paragraph p {
        width: 300px;
        height: 50px;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }
    .banner-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
    }
    .banner-img img {
        width: 80%;
        margin-left: -50px;
        float: left;
    }
    .successfully {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -450px;
    }
    .successfully .left-text h1 {
        font-size: 25px;
        text-align: center;
    }
    .successfully .left-text p {
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }
    .successfully .right-text h2 {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        margin-left: 40px;
    }
    .feature {
        width: 100%;
        margin-top: -200px;
    }
    .feature .inner-feature {
        width: 83%;
        margin-bottom: 10px;
        padding-bottom: -0px;
    }
    .feature .inner-feature img {
        width: 180px;
    }
    .feature .inner-feature h5 {
        font-size: 12px;
    }
    .feature .inner-feature p {
        font-size: 12px;
    }
    .footer {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        text-align: center;
        margin: 0px auto;
        clear: both;
    }
    .footer h4 {
        font-size: 10px;
    }
    /* .banner p {
        width: 20%;
        height: 200px;
        font-size: 16px;
        line-height: 26px;
        color: #0F2656;
        text-align: center;
        margin: 15px 0px;
    } */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}