@import url('https://fonts.googleapis.com/css2?family=Allan&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400;500;700;900&family=Shizuru&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}


/* *******************************************
*****************global css start*******************
 */

.container {
    width: 1140px;
    margin: 0px auto;
}

.row {
    width: 100%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-4 {
    width: 30.33%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

.cl1 {
    background-color: #FDEBED;
    margin-left: 30px;
}

.cl2 {
    background-color: #EBF9F4;
    margin-left: 30px;
}

.cl3 {
    background-color: #FFF7E8;
    margin-left: 30px;
}


/* *******************************************
*****************global css end*******************
 */

.header {
    width: 100%;
    margin: 20px 0px;
}

.col-6 img {
    width: 90px;
}

.nav {
    width: 100%;
    float: left;
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav li a {
    margin: 0px 0px 0px 25px;
    color: #0F2656;
    font-size: 16px;
    transition: 0.6s;
}

.nav li a:hover {
    color: #008AFF;
}

hr {
    color: #eee;
    width: 100%;
    height: 2px;
    opacity: 0.3;
    float: left;
}

.banner {
    width: 100%;
    height: 900px;
    float: left;
    text-align: center;
    padding: 10px 0px;
}

.banner h1 {
    font-size: 52px;
    line-height: 62px;
    color: #0F2656;
}

.banner span {
    font-size: 35px;
    line-height: 40px;
    color: #008AFF;
    font-weight: 600;
    margin-right: 40px;
    display: block;
}

.banner p {
    width: 1000px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #0F2656;
    text-align: center;
    margin: 15px 0px;
}

.banner .banner-img {
    width: 70%;
    text-align: right;
    margin: 20px 0px 0px 80px;
}

.left-text {
    width: 100%;
}

.successfully {
    width: 100%;
    float: left;
    padding: 20px 0px;
}

.successfully .left-text {
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 10px;
}

.successfully .left-text h1 {
    font-size: 40px;
    color: #F47683;
}

.successfully .left-text p {
    /* width: 1000px;
    height: 200px; */
    font-size: 16px;
    line-height: 26px;
    color: #0F2656;
    text-align: right;
    margin: 15px 0px;
}

.successfully .right-text {
    width: 100%;
    float: left;
    text-align: left;
}

.successfully .right-text h2 {
    width: 320px;
    font-size: 38px;
    line-height: 50px;
    color: #0F2656;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin: 0px 0px 20px 23px;
}

.feature {
    width: 100%;
    float: left;
    padding: 50px 0px;
    clear: both;
}

.feature .inner-feature {
    width: 86%;
    float: left;
    height: 300px;
    padding: 15px 10px 30px 20px;
    margin-right: 9px;
    border-radius: 5px;
}

.feature .inner-feature img {
    width: 250px;
    margin: 10px 0px;
}

.feature .inner-feature h5 {
    font-size: 16px;
    line-height: 26px;
    color: #0F2656;
    padding-bottom: 8px;
}

.feature .inner-feature p {
    font-size: 16px;
    line-height: 26px;
    color: #0F2656;
}

.footer {
    width: 100%;
    height: 50px;
    background: #008AFF;
    float: left;
}

.footer h4 {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    margin-top: 13px;
    font-weight: 600;
}

.footer h4 span {
    color: #82B2FF;
    margin-right: 3px;
}

.footer .span-1 {
    margin-left: 4px;
}